In [1]:
import pandas as pd
import numpy as np

PANDAS INTROS 
series

In [3]:
a = np.arange(1,6)
a

array([1, 2, 3, 4, 5])

In [19]:
import pandas as pd

# Define the variable a
a = [1, 2, 3]

# Create two Series
s1 = pd.Series(a, index=['a', 'b', 'c'])
s2 = pd.Series([i * 2 for i in a], index=['a', 'b', 'c'])

# Print the Series
print(s1)
print(s2)

a    1
b    2
c    3
dtype: int64
a    2
b    4
c    6
dtype: int64

In [20]:
s1+s2

a    3
b    6
c    9
dtype: int64

Индексиране Series Indexing

In [21]:
s1

a    1
b    2
c    3
dtype: int64

In [24]:


s1['a']

1

In [26]:
# индекс по локация
# Explicit indexing
s1.iloc[0]

1

In [ ]:
# Explicit indexing
s1.loc['a']

In [27]:
# Implicit indexing 
s1[-1]

C:\Users\Martina\AppData\Local\Temp\ipykernel_11576\3311899017.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[-1]

3

In [28]:
# implicit (location based) indexing 
s1.iloc[-1]

3

DATAFRAME - СЪВКУПНОСТ ОТ МНОЖЕСТВО СЕРИИ

In [31]:
data = {
    'Sudent Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Score': [92,78,85,90,88]
}

df = pd.DataFrame(data)
df

  Sudent Name  Score
0       Alice     92
1         Bob     78
2     Charlie     85
3       David     90
4         Eve     88

In [32]:
print(df)

  Sudent Name  Score
0       Alice     92
1         Bob     78
2     Charlie     85
3       David     90
4         Eve     88

In [33]:
# load the data
df = pd.read_csv('https://raw.githubusercontent.com/geekcourses/JupyterNotebooksExamples/master/datasets/various/drinks.csv')

# show
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [39]:
html_tables = pd.read_html ('http://www.w3schools.com/tags/tag_a.asp')
html_tables[1]

,Attribute,Value,Description
0,download,filename,Specifies that the target will be downloaded w...
1,href,URL,Specifies the URL of the page the link goes to
2,hreflang,language_code,Specifies the language of the linked document
3,media,media_query,Specifies what media/device the linked documen...
4,ping,list_of_URLs,Specifies a space-separated list of URLs to wh...
5,referrerpolicy,no-referrer no-referrer-when-downgrade origin ...,Specifies which referrer information to send w...
6,rel,alternate author bookmark external help li...,Specifies the relationship between the current...
7,target,_blank _parent _self _top,Specifies where to open the linked document
8,type,media_type,Specifies the media type of the linked document